.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0px 15px;
}
.main {
    transition: margin-left 0.5s;
}
.header {
    border-bottom: 1px solid var(--border--color-300);
    background-color: var(--background--color-700);
    padding: 36px 0px;
}
.overflow {
    height: 100vh;
    position: relative;
    z-index: -999;
}
.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
/* 12 cột responsive */
.col-1 {
    width: 8.33%;
    flex: 0 0;
}
.col-2 {
    width: 16.66%;
    flex: 16.66%;
}
.col-3 {
    width: 25%;
    flex: 25%;
}
.col-4 {
    width: 33.33%;
    flex: 33.33%;
}
.col-5 {
    width: 41.66%;
    flex: 41.66%;
}
.col-6 {
    width: 50%;
    flex: 50%;
}
.col-7 {
    width: 58.33%;
    flex: 58.33%;
}
.col-8 {
    width: 66.66%;
    flex: 66.66%;
}
.col-9 {
    width: 75%;
    flex: 75%;
}
.col-10 {
    width: 83.33%;
    flex: 83.33%;
}
.col-11 {
    width: 91.66%;
    flex: 91.66%;
}
.col-12 {
    width: 100%;
    flex: 100%;
}
.d-flex {
    display: flex;
}
.center-block {
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.space-between {
    align-items: center;
    justify-content: space-between;
}
.space-evenly {
    align-items: center;
    justify-content: space-evenly;
}
.space-around {
    align-items: center;
    justify-content: space-around;
}
.flex-row-with-7px-gap {
    column-gap: 7px;
    row-gap: 7px;
    align-items: center;
    display: flex;
}
/* Img logo */
.img_logo {
    min-width: 180px;
    max-width: 225px;
}

/* Header Search Bar */
.header_social-account,
.header_social,
.header_searchbar {
    height: 100%;
}
.searchbar_form {
    width: 100%;
    max-width: 690px;
    position: relative;
}
.search-bar {
    width: 100%;
    border: 1px solid var(--border--color-400);
    color: var(--text--color-300);
    border-radius: 4px;
    background-color: var(--background--transparent);
    height: 50px;
    padding: 8px 12px;
    font-family: 'Open Sans', sans-serif;
}
.search-bar::placeholder {
    color: var(--text--color-300);
}
.search-button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text--color-white);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0px 45px;
    position: absolute;
    transition: filter linear;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
}
.search-button:hover {
    filter: opacity(0.9);
}
.header_social-cart {
    position: relative;
}
.amount-product {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
    height: 20px;
    min-width: 20px;
    font-size: 12px;
    content: '0';
    background-color: var(--primary-color-300);
    top: -4px;
    bottom: auto;
    left: 12px;
    right: auto;
}
/* Navbar */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
    top: -1px;
    background-color: var(--background--color-700);
    width: 100%;
    margin: 0 auto;
    padding: 12px 0px;
}
.sticky {
    position: fixed;
    top: 0;
}

.navbar-menu {
    flex: 1;
}
.nav-link {
    transition: color 0.3s ease-out;
}
.nav-link:hover {
    color: var(--primary-color);
}
.nav-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.category-dropdown__button {
    cursor: pointer;
    gap: 11px;
}
.navbar-wrapper {
    gap: 29px;
}

.header_social-show-in-mobile {
    display: none;
}
/* Category dropdown */
.category-dropdown {
    cursor: pointer;
    position: relative;
}
.category-dropdown__list {
    position: absolute;
    z-index: 999;
    top: 90%;
    left: 0;
    background-color: var(--background--color-700);
    border-radius: 4px;
    flex-flow: column;
    padding: 25px 0px;
    gap: 17px;
    display: none;
    opacity: 0;
    transform: translateX(20px);
}

.category-dropdown__item {
    cursor: pointer;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 310px;
    padding: 11px 25px;
}
.category-dropdown__item > a {
    display: block;
    color: rgb(180, 190, 203);
    font-size: 16px;
}
.category-dropdown__item:hover > a {
    animation: categoryItemSideHover 0.3s ease forwards;
}
.category-dropdown__button:hover .category-dropdown__list {
    display: flex;
    opacity: 1;
    transform: translateX(0px);
    animation: categoryBarDropdownHover 0.3s ease forwards;
}
.category-dropdown-with-button__item {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    min-width: 100%;
    padding: 10px 0px;
}
.category-dropdown-with-button__item > a {
    display: block;
    color: rgb(180, 190, 203);
    font-size: 16px;
    transform: translate(0, 0);
}

/* slider */
.slider-img {
    position: relative;
    width: 50%;
}
.slider-img__main {
    position: relative;
    z-index: 2;
    width: 550px;
    max-height: 420px;
    display: inline-block;
}
.slider-img__background {
    object-fit: cover;
    max-width: 50%;
    height: 100%;
    max-height: 600px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}
.slider-description {
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}
.slider-description__title > h1 {
    color: var(--text--color-white);
    margin: 0;
    max-width: 650px;
    font-size: 48px;
    font-weight: 600;
}
.slider-description__content > p {
    color: var(--text--color-white);
    margin: 20px 0px 40px;
    max-width: 750px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    line-height: 28px;
}
.hero-section {
    margin: 40px 0px 50px;
}
.slider-block {
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 1280px;
    height: 500px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
}
.slider-inline-block {
    display: inline-block;
    height: 100%;
}
.slider-item {
    align-items: center;
    justify-content: space-between;
    height: 570px;
    position: relative;
    white-space: wrap;
    gap: 60px;
    display: flex;
    visibility: collapse;
    opacity: 0;
    transition: visibility linear 0.4s, opacity ease 1s;
}
.slider-item.active {
    visibility: visible;
    display: flex;
    opacity: 1;
}
.slider-button {
    gap: 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text--color-white);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 400;
    transition: color 1s ease-out, background 0.5s linear;
}
.slider-button:hover {
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--text--color-white);
}
.slider-button-control {
    background-color: var(--background--color-900);
    border-radius: 10px 0 0;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    padding-top: 0;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    position: absolute;
    top: auto;
    left: auto;
    right: -2px;
    bottom: -2px;
}
.button-control-1,
.button-control-2,
.button-control-3 {
    border-radius: 100%;
    background-color: #f4c1c4;
    margin: 0 3px 8px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    transition: background-color 0.1s, color 0.1s;
}
.mask {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
}
[class*='button-control-'].active {
    background-color: #dd3842;
}
/* slidebar */
.slidebar {
    background-color: var(--background--color-700);
    padding: 0px 10px;
    margin-right: 20px;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.slidebar-collapse {
    background-color: var(--background--color-700);
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 0px;
    margin-right: 0;
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    transition: all 0.5s;
    box-shadow: 5px 0px 10px rgb(0, 0, 0);
}
.slidebar_block,
.slidebar-item {
    padding: 15px 10px;
}
.slidebar-item {
    cursor: pointer;
    color: #ffffffa9;
    border-radius: 10px;
}
.sliderbar-logo {
    padding-bottom: 10px;
}
.sliderbar-logo > img {
    height: 75px;
    width: 100%;
    object-fit: cover;
}
.slidebar-action {
    padding: 15px 10px;
    border-top: 1px solid gray;
}
.slidebar-action__loggout {
    padding: 15px 10px;
}
.slidebar-title {
    color: var(--background--color-400);
}
.slidebar-item:hover {
    background-color: #999ea3;
}
/* product cart */
.display-product {
    width: 100%;
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.product-cart {
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--background--color-700);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 25px 30px 28px;
    position: relative;
}
.product-img > img {
    overflow: hidden;
    object-fit: contain;
    width: 100%;
    height: 220px;
    transition: transform 1s ease-in-out;
}
.product-content {
    display: flex;
    gap: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 57px;
}
.product-name {
    color: var(--text--color-white);
    font-size: 18px;
    line-height: 160%;
}
.product-vote {
    color: var(--star--color);
}
.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.product-price__discount {
    color: var(--primary-color);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
}
.product-price__old {
    color: var(--text--color-100);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: line-through;
}
.product-button {
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--border--color-400);
    width: 100%;
    padding: 10px 0px;
    font-family: Open Sans, sans-serif;
    transition: color 0.2s, background-color 0.4s;
}
.product-button:hover {
    background-color: var(--primary-color);
}
.product-label {
    z-index: 888;
    position: absolute;
    border-radius: 4px;
    background-color: var(--background--color-600);
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    left: 6px;
    top: 15px;
    right: auto;
    bottom: auto;
}
.product-img:hover img {
    transform: scale(1.1);
}

/* product detail page */
.section {
    margin: 60px 0px;
}
.product-imgages-slide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.product-images-display {
    border-radius: 4px;
    background-color: var(--background--color-700);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 60px 50px;
    overflow: hidden;
}
.product-imgages-choice {
    gap: 10px;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    display: flex;
}
.product-imgages-choice__item {
    border: 1px solid var(--border--color-400);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    padding: 20px;
    display: flex;
    overflow: hidden;
}
.product-imgages-choice__item {
    aspect-ratio: 1;
    object-fit: contain;
    max-width: 150px;
}
.product-detail-block {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.product-detail-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 600;
}
.product-detail-vote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
}
.product-detail-vote > i {
    color: #fdbf60;
    font-size: 12px;
}
.product-detail-price {
    display: flex;
    gap: 18px;
    border-bottom: 1px solid var(--border--color-400);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 22px;
    padding-bottom: 16px;
}
.product-detail-price__discount {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 600;
}
.product-detail-price__old {
    color: var(--text--color-100);
    text-decoration: line-through;
    font-size: 30px;
    font-weight: 600;
}
.product-detail-description {
    color: var(--text--color-100);
    max-width: 750px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
.product-detail-footer {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 23px 0px 28px;
    display: flex;
}
.product-detail-amount {
    border-style: solid;
    border-color: var(--text--color-100);
    border-radius: 4px;
    background-color: var(--background--transparent);
    width: 100%;
    max-width: 120px;
    height: 50px;
    margin-bottom: 0px;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text--color-white);
}
.product-detail-button {
    border-radius: 4px;
    background-color: var(--background--color-400);
    color: var(--text--color-white);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 340px;
    padding-top: 14px;
    padding: 14px 0px;
    font-family: 'Open Sans', sans-serif;
    transition: color 0.2s, background-color 0.2s;
}
.product-detail-button:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text--color-white);
}
.product-detail-meta {
    display: flex;
    gap: 15px;
    border-top: 1px solid var(--background--color-400);
    border-bottom: 1px solid var(--background--color-400);
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 26px;
}
.meta-info-title {
    min-width: 51px;
    font-size: 18px;
    font-weight: 500;
}
.social-share-icon-container {
    display: flex;
    gap: 12px;
    margin-top: 6px;
}
.social-icon {
    width: 20px;
    height: 20px;
}
.product-detail-payment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-detail-payment-method {
    display: flex;
    gap: 10px;
}
.product-detail-payment-method > img {
    width: 30px;
    height: 30px;
}
.float-button {
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    top: auto;
    left: auto;
    height: 50px;
    width: 50px;
    background-color: #0a7cff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.float-button:hover {
    transform: translateY(-30%);
}
.overload {
    height: 100vh;
    width: 100%;
    position: absolute;
}
.tab {
    overflow: hidden;
}
.tablinks {
    color: var(--text--color-100);
    padding: 10px 25px 14px 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button.active {
    color: var(--primary-color);
    border: 1px solid var(--border--color-400);
}

.tabcontent {
    display: none;
    padding: 40px;
    border: 1px solid var(--border--color-300);
}
/* footer */
.footer {
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 26px;
    display: flex;
}
.footer-copyright {
    color: var(--text--color-200);
    flex-wrap: wrap;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.main-footer {
    border-bottom: 1px solid var(--border--color-300);
    border-top: 1px solid var(--text--color-300);
}
.footer-wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
}
.footer-block {
    gap: 20px;
    flex-direction: column;
    align-items: stretch;
    width: 185px;
    display: flex;
}
.footer-block:first-child {
    gap: 30px;
    width: 100%;
    max-width: 450px;
}
.footer-logo {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}
.footer-paragraph {
    color: var(--text--color-300);
    line-height: 20px;
}
.footer-social-icon-container {
    gap: 12px;
    margin-top: 6px;
    display: flex;
}
.social-icon-item {
    border: 1px solid var(--border--color-300);
    color: var(--text--color-200);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
    transition: color 0.4s;
    display: flex;
}
.footer-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.list-block-item {
    gap: 10px;
    color: var(--text--color-300);
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    transition: padding 0.6s ease, color 0.4s ease-out;
}
.list-block-item > i {
    font-size: 10px;
}
.footer-block.subscribe-block {
    min-width: 220px;
    max-width: 340px;
}
.footer-contact-container {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.footer-contact-item {
    color: var(--text--color-300);
}
.footer-contact-item > i {
    font-size: 16px;
}
.social-icon-item:hover,
.list-block-item:hover {
    cursor: pointer;
    color: var(--primary-color);
}
.list-block-item:hover {
    padding-left: 5px;
}
.hide-in-destop {
    display: none;
}
/* contact page*/
.contact-wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
.contact-info {
    display: flex;
    gap: 20px;
    text-align: left;
    flex-direction: column;
    max-width: 490px;
    margin-top: 15px;
}
.contact-info-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: 600;
    line-height: 140%;
}
.contact-info-paragrap {
    margin-bottom: 47px;
    color: var(--text--color-300);
    max-width: 750px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 28px;
}
.logo-and-info-block {
    display: flex;
    gap: 30px;
    color: #fff;
    align-items: flex-start;
}
.information-icon {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    padding: 9px;
    font-size: 12px;
    line-height: 12px;
}
.information-block {
    display: flex;
    gap: 4px;
    max-width: 280px;
    flex-direction: column;
}
.infomation-title {
    color: var(--text--color-white);
    font-size: 18px;
    font-weight: 500;
}
.infomation-content {
    color: hsl(0, 0%, 70%);
    max-width: 290px;
    font-size: 16px;
    line-height: 26px;
}
.contact-form {
    gap: 20px;
    text-align: left;
    background-color: var(--background--color-700);
    border: 1px solid var(--border--color-400);
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-width: 650px;
    margin-bottom: 0;
    padding: 30px;
    display: flex;
}
.contact-form-text {
    gap: 10px;
    flex-direction: column;
    display: flex;
}
.contact-form-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}
.contact-form-paragraph {
    color: #666;
    max-width: 348px;
    font-size: 16px;
    line-height: 25px;
}
.contact-form__form {
    flex-direction: column;
    align-items: stretch;
    display: flex;
}
.form-horizontal-wrapper {
    gap: 30px;
    margin-bottom: 30px;
    flex-direction: row;
    width: 100%;
    display: flex;
}
.field-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-form-field {
    color: var(--text--color-300);
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.contact-form-input-field {
    border-radius: 4px;
    background-color: var(--border--color-300);
    color: #fff;
    border: 1px #fff;
    height: 50px;
    line-height: 18px;
    transition: border-color 0.5s;
    padding: 8px 12px;
}
.contact-form-input-field::placeholder {
    color: rgba(255, 255, 255, 0.497);
}
.contact-form-input-field.message-area {
    height: auto;
    min-height: 120px;
    margin-bottom: 10px;
}
.form-button-wrapper {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    margin-top: 5px;
}
.message-field-wrapper {
    display: flex;
    flex-direction: column;
}

.submit-button {
    appearance: none;
    border-radius: 4px;
    border-width: 0px;
    background-color: var(--primary-color);
    padding: 15px 34px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    transition: color 0.3s, background-color 0.5s;
    color: #fff;
}
.submit-button:hover {
    cursor: pointer;
    color: #fdcb71;
    background-color: #2f19b5;
}
.form-message {
    font-size: 12px;
    color: red;
    display: block;
    height: 12px;
}
.map-wrapper {
    display: flex;
    gap: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title-wrapper__title {
    max-width: 900px;
    font-size: 38px;
    font-weight: 600;
    line-height: 140%;
}
.google-map-block {
    width: 100%;
    height: 500px;
}
.google-map-iframe {
    width: 100%;
    height: 100%;
}
/* Dành cho tablet */
@media only screen and (max-width: 768px) {
    .navbar-wrapper-phone-and-email {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .header_action-login {
        display: none;
    }
    .display-product {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    /* slide */
    .slider-item {
        flex-direction: column;
        height: auto;
    }
    .slider-block {
        padding: 40px 50px;
        width: 100%;
        height: 100%;
    }
    .slider-img {
        width: 550px;
    }
    .slider-description {
        width: auto;
    }
    .hide-in-destop {
        display: block;
    }
    .hide-in-tablet {
        display: none;
    }
}
/*Dành cho điện thoại */
@media only screen and (max-width: 600px) {
    [class*='col-'] {
        width: 100%;
        flex: 0 0 100%;
    }
    .header {
        padding: 25px 0px;
    }
    .header_searchbar {
        display: none;
    }
    .img_logo {
        min-width: 120px;
    }

    .hide-in-destop {
        display: block;
    }
    .hide-in-mobile {
        display: none;
    }
    .header_social-show-in-mobile {
        display: flex;
        gap: 10px;
        position: relative;
    }
    .category-dropdown {
        width: calc(100% + 40px);
    }
    .category-dropdown__list {
        display: none;
    }
    /* slider */
    .slider-block {
        padding: 60px 20px;
        width: 100%;
        height: 100%;
    }
    .slider-description {
        flex: 1;
    }
    .slider-item {
        height: auto;
    }
    .slider-description__title > h1 {
        font-size: 34px;
        line-height: 50px;
    }
    .display-product {
        grid-template-columns: 1fr;
    }
    .image-display {
        max-height: 220px;
    }
    .product-imgages-choice__item {
        max-width: 128px;
    }
    .product-images-display {
        height: 220px;
        padding: 30px;
    }
    .product-detail-block {
        padding-left: 0;
    }
    .product-detail-title {
        font-size: 24px;
    }
    .product-imgages-slide {
        margin-bottom: 30px;
    }
    .footer-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .category-dropdown__button {
        flex: 1;
    }
    /* Contact */
    .contact-wrapper {
        flex-direction: column;
    }
    .form-horizontal-wrapper {
        flex-direction: column;
        gap: 0px;
    }
}

/* Keyframe */
@keyframes categoryItemSideHover {
    0% {
        transform: translate(2px, 0);
        color: rgba(221, 56, 66, 0.5);
    }
    25% {
        transform: translate(4px, 0);
        color: rgba(221, 56, 66, 0.6);
    }
    50% {
        transform: translate(6px, 0);
        color: rgba(221, 56, 66, 0.7);
    }
    75% {
        transform: translate(8px, 0);
        color: rgba(221, 56, 66, 0.8);
    }
    100% {
        transform: translate(10px, 0);
        color: rgba(221, 56, 66, 1);
    }
}
@keyframes categoryBarDropdownHover {
    0% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    25% {
        transform: translate(0, 15px);
        opacity: 0.25;
    }
    50% {
        transform: translate(0, 10px);
        opacity: 0.5;
    }
    75% {
        transform: translate(0, 5px);
        opacity: 0.75;
    }
    100% {
        transform: translate(0, 0px);
        opacity: 1;
    }
}
